{% extends "base_template.html" %}

{% block script %}
    <script>
        window.onload = function() {
            // Trigger the download
            var a = document.createElement("a");
            a.href = "{{ url_for('main.serve_pdf', filename=pdf_filename) }}";
            a.download = "{{ pdf_filename }}";  
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            document.getElementById("loader").parentElement.classList.add("completed");
        };
    </script>
{% endblock %}

{% block content %}
    <div class="relative text-center">
        <div class="relative card shadow-lg p-5" style="max-width: 400px;">
            <div class="relative d-flex justify-content-center align-items-center mb-3">
                <div id="loader" class="relative spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="tick"></div>
            </div>
            
            <h4>Your download should start soon...</h4>
            <p>If it doesn't, <a href="{{ url_for('main.serve_pdf', filename=pdf_filename) }}" class="text-primary fw-bold">click here</a>.</p>

            <a class="btn btn-primary" href="{{ url_for('main.home') }}">Download another notesheet</a>
        </div>
        
    </div>
{% endblock %}
